:root {
  --header-logo-web-color: #4d5ae5;
  --header-logo-second-color: #2e2f42;
  --title-color: #2e2f42;
  --text-color: #434455;
  --hero-title-color: #fff;
  --hero-btn-color: #fff;
  --dark-background: #2e2f42;
  --text-lh: 1.5;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header-logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-logo-web-color);
}
.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-logo-second-color);
}

.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--text-lh);
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.address-item {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--text-lh);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

/* -MAIN- */

.hero {
  background-color: var(--dark-background);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--hero-title-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--text-lh);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--hero-btn-color);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
}
.features-item {
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.pics {
}

.pics-list {
}
.pics-item {
}
.team {
}

.team-list {
}
.team-item {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.footer {
  background-color: var(--dark-background);
  color: #fff;
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
